em {
    font-style: normal;
}

.container {
    background: url(../images/bg.jpg) no-repeat top center;
    background-size: 100%;
    padding-top: 0.8rem;
}

.container::after {
    content: "";
    display: block;
    height: 1.5rem;
}

.viode_box {
    padding: 0.266666rem 0.533333rem;
}

.list {
    padding: 0 0.666666rem;
}

.item {
    padding: 0.4rem 0;
    border-bottom: 1px solid #EACEB5;
    display: flex;
}

.item .ava {
    width: 2.613333rem;
    height: 2.613333rem;
    border: 1px solid #EED3BA;
    border-radius: 0.533333rem;
    margin-right: 0.4rem;
    overflow: hidden;
}

.item .ava img {
    border-radius: 0.533333rem;
}

.item .content {
    flex: 1;
}

.item .call {
    font-size: 0.32rem;
    color: #000;
    background-image: linear-gradient(to bottom, #E1C5AA, #FAE6CC);
    font-weight: bold;
    text-align: center;
    border-radius: 200rem;
    padding: 0.133333rem 0;
}

.item .taga span {
    font-size: 0.32rem;
    color: #333;
    display: inline-block;
    margin-right: 0.133333rem;
    background-color: #FAE7CE;
    padding: 0.053333rem 0.133333rem;
    border-radius: 0.133333rem;
}

.item .info {
    color: #999;
    margin: 0.133333rem 0;
}

.item .info span {
    font-size: 0.32rem;
}

.item .info span:not(.area) {
    padding: 0 0.08rem;
}

.item .info .area {
    position: relative;
    padding-left: 0.4rem;
}

.item .info .area::before {
    content: "";
    width: 1px;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.186666rem;
    background-color: #999;
}

.item .name {
    margin-bottom: 0.133333rem;
    margin-right: 0.133333rem;
    white-space: nowrap;
}

.item .name .v {
    color: #875E44;
    background-image: linear-gradient(to bottom, #E1C5AA, #FAE6CC);
    padding: 0.08rem 0.213333rem 0.08rem 0.133333rem;
    border-radius: 0.266666rem 0 0.266666rem 0;
}

.item .name .v::before {
    content: "";
    display: inline-block;
    width: 0.533333rem;
    height: 0.533333rem;
    background: url(../images/v.png) no-repeat center center;
    background-size: 100%;
    vertical-align: middle;
}

.item .name b {
    display: inline-block;
    font-size: 0.346666rem;
    color: #fff;
    margin-left: 0.213333rem;
}

.footer {
    height: 1.733333rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 750px;
    margin: 0 auto;
    background-color: #141414;
    display: flex;
    align-items: center;
    padding: 0 0.266666rem;
    z-index: 999;
}

.footer .logo {
    width: 1.066666rem;
    flex-shrink: 0;
}

.footer .tips_text {
    margin-left: 0.213333rem;
    flex: 1;
    white-space: nowrap;
}

.footer .tips_text div {
    color: #F0D9A9;
}

.footer .tips_text div b {
    font-size: 0.533333rem;
    padding-right: 0.133333rem;
}

.footer .tips_text div span {
    font-size: 0.32rem;
}

.footer .tips_text>span {
    color: #fff;
    font-size: 0.32rem;
}

.footer .download {
    height: 1.066666rem;
    line-height: 1.066666rem;
    color: #000;
    background-color: #FAE2B0;
    padding: 0 0.4rem;
    border-radius: 5rem;
    white-space: nowrap;
    font-size: 0.32rem;
    animation: flash 1s infinite;
    flex-shrink: 0;
}

.dplayer-logo {
    max-width: 0.8rem;
    height: 0.8rem;
}

@-webkit-keyframes flash {
    from,
    50%,
    to {
        transform: scale(.9);
    }
    25%,
    75% {
        transform: scale(1);
    }
}

@keyframes flash {
    from,
    50%,
    to {
        transform: scale(.9);
    }
    25%,
    75% {
        transform: scale(1);
    }
}

.layer_mask {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 750px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.layer_mask .layer_content {
    width: 65%;
    background: #fff;
    border-radius: 0.266666rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
}

.layer_mask .layer_content .title {
    font-weight: bold;
    font-size: 0.426666rem;
    padding: 0.266666rem 0;
}

.layer_mask .layer_content .text {
    line-height: 1.5;
    font-size: 0.346666rem;
    padding: 0 0.533333rem 0.266666rem;
    display: none;
}

.close_layer {
    font-size: 0.373333rem;
    color: #017aff;
    border-top: 0.026666rem solid #e5e5e5;
    padding: 0.266666rem 0;
}

#copy {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.photos {
    display: flex;
    padding: 0 0.533333rem;
    margin-top: -0.8rem;
}

.photos>div {
    flex: 1;
}

.photos>div img {
    min-height: 100%;
}

@media screen and (min-width:750px) {
    .footer .download {
        width: 4rem;
        text-align: center;
        font-size: 0.426666rem;
    }
}

.more {
    text-align: center;
    font-size: 0.373333rem;
    background-image: linear-gradient(to bottom, #E1C5AA, #FAE6CC);
    color: #000;
    width: 60%;
    margin: 0.533333rem auto;
    height: 0.933333rem;
    line-height: 0.933333rem;
    border-radius: 200rem;
}

.kefu-main {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 999;
}
.kefu-main img{
	width: 70px;
}